<!DOCTYPE html>
<html lang="en">
    <%-include('includes/head.ejs')%>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<ul>
    <% for (let i=0; i < disciplinas.length ; i++) { %>
    <li>
        <a href="/disciplinas/<%= disciplinas[i].id %>">
            <%= disciplinas[i].nome %>
        </a>
    </li>
    <% } %>
</ul>
</body>
</html>