nav{
    background-color: beige;
    display: flex;
    justify-content: space-between;
}

li{
     list-style: none;
}
a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

#inputExcluir{
    display: none;
}