
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">

    <nav>
       <h1>Site das disciplinas de curso</h1>
       <a href="http://localhost:3000/disciplinas/cadastrar.html">Cadastrar</a>
       <a href="http://localhost:3000/disciplinas/">Disciplinas </a>
    </nav>

</head>